@import "common.css"; /* Using a string */
@import "top-bar.css"; /* Using a string */
@import "side-bar.css"; /* Using a string */
@import "popover.css"; /* Using a string */
@import "dashboard.css"; /* Using a string */
@import "form.css"; /* Using a string */
/*@import "splash.css"; !* Using a string *!*/

.root-container {
    -fx-background-color: #f5f5f5;
}

.title-panel {
    -fx-pref-height: 20;
}

.search {
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}